$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f6f7f9;
$dark: #212121;

$padding-big: 64px;

$footer-height: 93px;
$header-height: 93px;

$contentWidth: 1125px;
