@import '../../assets/scss/variables';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 230px;
  height: 66px;
  background: #73d677;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  outline: none;
  color: black;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  padding-bottom: 9px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    padding-bottom: 3px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.18);
  }

  &.fullwidth {
    width: 100%;
  }

  &.altColored {
    background-color: $primary;
  }

  &.small {
    height: 16px;
    font-size: 12px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 2px;

    &:active {
      padding-bottom: 1px;
      box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
    }
  }
}
