@import '../../assets/scss/variables';

.root {
  height: calc(100vh - #{$header-height});
  padding-bottom: $footer-height;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  max-width: 100%;
}

.main {
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: calc((100vw - 1125px) / 2);
  display: grid;
  grid-template: 1fr / 1fr 793px;
  overflow: hidden;
}

.title {
  margin-bottom: $padding-big;
}

.description {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: black;
  margin-bottom: $padding-big;
}
