@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  font-family: 'Karla', 'Arial', sans-serif;
}

.title {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.main {
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 40px;
  height: calc(100vh - 2 * (93px));
}
