@import '../../assets/scss/variables';

.root {
  display: grid;
}

.content {
  width: $contentWidth;
  padding-top: 60px;
  padding-left: calc((100vw - 1125px) / 2);
}

.pokemons {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  // margin-right: -30px;
  // grid-columns: 3;
  // grid-rows: auto;
}
